[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "themes/geek-hb"]
	path = themes/geek-hb
	url = https://github.com/fixit-theme/geek-hb
